<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only tappable (click)="toggleMenu()"><ion-icon name="md-menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>Manage Ballots</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="addBallot()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <button [hidden]="loading || ballots.length > 0" ion-button block icon-left tappable class="dark" (click)="addBallot()"><ion-icon name="add"></ion-icon>Add ballot</button>

  <ion-card item-content *ngFor="let ballot of ballots" [hidden]="loading || ballots.length == 0">
    <ion-card-content>
      <ion-row no-padding *ngIf="isSynced(ballot.key)">
        <button ion-button clear small icon-left>
          <ion-icon color="primary" name='cloud-done'></ion-icon>
          synced to blockchain
        </button>
      </ion-row>
      <ion-row no-padding *ngIf="isSyncing(ballot.key)">
        <button ion-button clear small icon-left>
          <ion-icon color="primary" name='sync'></ion-icon>
          syncing to blockchain
        </button>
      </ion-row>
      <img src="{{ ballot.val.config.Ballot.Attributes.Image }}" [hidden]="ballot.val.config.Ballot.Attributes.Image == null || ballot.val.config.Ballot.Attributes.Image == ''"/>

      <ion-card-title>
        {{ ballot.val.config.Ballot.Name }}
      </ion-card-title>
      <p>
        {{ ballot.val.config.Ballot.Description }}
      </p>
      <p>

      </p>
    </ion-card-content>
    <ion-row no-padding [hidden]="isSyncing(ballot.key)">
      <ion-col>
        <button ion-button clear small icon-left>
          <ion-icon color="primary" name='build'></ion-icon>
          Edit
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small icon-left>
          <ion-icon color="primary" name='stats'></ion-icon>
          Results
        </button>
      </ion-col>
      <ion-col text-center>
        <button (click)="openMore(ballot.key)" ion-button clear small icon-left>
          <ion-icon color="primary" name='more'></ion-icon>
          More
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>
